<table cellPadding="0" cellSpacing="0">
  <tbody>
    <tr>
      <td style="vertical-align:top"></td>
      <td>
        <hr>
        <div>Brandon Alejandro Mosqueda González</div>
        <hr>
        <div>Telegram: @brandon_mosqueda</div>
        <hr>
      </td>
    </tr>
  </tbody>
</table>